.calendar-grid {
    text-align: center;
}

.card-header{
    background-color: rgb(240, 240, 240);
    margin-bottom: 0.6rem;
    border-radius: 6px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.calendar-cell {
    border: 1px solid #ddd;
    height: 150px;
    padding: 4px;
}
.event {
    display: block;
    margin-top: 4px;
    background: #0070d2;
    color: white;
    border-radius: 4px;
    font-size: 0.75rem;
    padding: 2px;
    text-align: left;
}

a{
    color:black;
    text-decoration: underline;
}

a:hover{
    color: darkblue;
}

.view-all-btn{
    margin-top: 0.2rem;
}

.month-title{
    font-weight: 800;
    font-size: 1.5rem;
}

.evt-form-btn{
    margin-top: 0.5rem;
    text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

table th{
    /*position: sticky;*/
    top: 0;
    background: rgb(235, 235, 235);
    z-index: 1;
}

.seperate-btn{
    margin-right: 1rem;
}

.Completed{
    background-color: #edf7ed;
}

.OnHold{
    background-color: #f7f7eb;
}

.Cancelled{
    background-color: #f7ece9;
}

.display-date{
    text-decoration: underline;
}

.change-owner-inp{
    text-align: center;
    height: 200px;
}

.header-badge{
    margin-top: 0.4rem;
}


