.calendar-grid {
    text-align: center;
}
.calendar-cell {
    border: 1px solid #ddd;
    height: 150px;
    padding: 4px;
}
.event {
    display: block;
    margin-top: 4px;
    background: #0070d2;
    color: white;
    border-radius: 4px;
    font-size: 0.75rem;
    padding: 2px;
}

a{
    color:black;
    text-decoration: underline;
}

a:hover{
    color: darkblue;
}

.view-all-btn{
    margin-top: 0.2rem;
}

.month-title{
    font-size: 1rem;
    border-style: ridge;
    border-radius: 6px;
    padding: 8px;
}

.evt-form-btn{
    margin-top: 0.5rem;
    text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

table th{
    /*position: sticky;*/
    top: 0;
    background: rgb(228, 228, 228);
    z-index: 1;
}

.refresh-btn{
    margin-right: 1rem;
}

.Completed{
    background-color: #DDF6D2;
}

.OnHold{
    background-color: #FEFFC4;
}

.Cancelled{
    background-color: #E5BEB5;
}

